body{
    background-color: khaki;
}

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    color: #111111;
    padding: 24px 24px 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Times New Roman", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol,
blockquote {
    padding-left: 24px;
}

li ul,
li ol{
    margin-bottom: 0;
}

blockquote{
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", sans-serif;
}

figcaption {
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    color: grey;
}

hr {
    border: 0;
    height: 1px;
    background: lightGrey;
    margin: 0 0 24px;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    text-align: left;
}

th,
td {
    padding: 4px 8px;
    border-bottom: 1px solid gainsboro;
}


a {
    color:royalblue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: blueviolet;
}

a:hover,
a:focus {
    color: crimson;
}



::selection {
    background: #44c8f5;
    color: white;
    text-shadow: none;
}

.odd {
    background-color: whitesmoke;
}


img {
    border-color: black;
    border-radius: 30px;
    max-width: 100%;
    vertical-align: top;
}

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/


/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{
        padding: 24px 24px 24px;
        scroll-behavior: smooth;
    }

    h1{
        font-size: 58px;
        line-height: 64px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

